.about-section{
    height: 840px;
    display: flex;
    justify-content: space-around ;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    padding: 60px 0;
    background-color: #EEEDEB;
}

.about-heading {
    color: #1B4242;
    font-size: 5.6rem;
    font-family: fantasy;
    font-weight: bolder;
    letter-spacing: 4px;
    word-spacing: 5px;
    text-shadow: 2px 1px #5C8374;
    text-align: center;
    
}

.about-text-para {
    height: 650px;
    width: 100%;
    padding: 20px;
    color: #092635;
    background-color: none;
    font-size: 2.5rem ;
    font-weight: 700;
    font-family: cursive;
    text-align: center;
    letter-spacing: 5px;
    word-spacing: 6px;
    line-height: 70px;
    text-shadow: 0.15px 0.15px #EEEDEB;
}



@media (max-width:1135px) {
    .about-section{
        height: 1000px;
    }

    .about-text-para{
        font-size: 2rem;
        height: fit-content;
    }

}

@media (max-width:840px) {
    .about-section{
        height: 1300px;
    }

}

@media (max-width:565px) {
    .about-section{
        height: 1500px;
    }

    .about-text-para{
        font-size: 1.8rem;
    }

}

@media (max-width:475px) {
    .about-section{
        height: 2500px;
    }

    .about-text-para{
        font-size: 1.4rem;
        height: fit-content;
    }

}

