.contact-section {
    display: flex;
    justify-content: center ;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 60px 0;
    background-color: #EEEDEB;
}

.contact-heading {
    color: #1B4242;
    font-size: 5.2rem;
    font-family: fantasy;
    font-weight: bolder;
    letter-spacing: 4px;
    word-spacing: 5px;
    text-shadow: 2px 1px #5C8374;
    text-align: center;
}

.contact-container {
    height: 720px;
    width: 90%;
    padding: 20px;
    border-radius: 2px;
    background-color: #3C3633;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    box-shadow: #d7d4cf 0 0 2px 0;
}

.contact-box{
    width: 320px;
    height: 250px;
    padding: 30px;
    border-radius:2px ;
    text-align: center;
    background-color: #faf9f9;
    box-shadow: #faf9f9 0 0 2px 0;
}

.contact-type-headings, .contact-paras {
    margin: 20px;
}


@media (max-width:794px) {
    .contact-section {
        height: 1500px;
    }

    .contact-container{
        height: fit-content;
    }
}