#footer, .assets-credit {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #faf9f9;
    gap: 40px;
    font-size: 1.15rem;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.assets-credit {
    justify-content: flex-start;
    padding: 30px 0;
    height: 45%;
    width: 80%;
    background-color: #EEEDEB;
    box-shadow: #d7d4cf 0 0 2px 0;
}


#creditLink {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 20px;
}


#footer a {
    text-decoration: none;
    color: #315678;
}

.github-link {
    height: 15%;
    width: 70%;
}


.github-link a{
 display: flex;
 justify-content: center;
 align-items: center;
}

.github-link a img {
    height: 40px;
    width: 40px;
}

@media (max-width:760px) {

    #footer{
        height: 1000px;
    }


    .assets-credit{
        height: fit-content;
        width: 96%;
        padding: 20px;
        
    }

    #creditLink{
        grid-template-columns: repeat(2, 2fr); 
    }
    
}