.welcome-section{
    height: 700px;
    display: flex;
    justify-content: space-around ;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    padding-top: 46px;
    padding-bottom: 80px;
    background-color: #EEEDEB;
}

.welcome-heading{
    color: #1B4242;
    font-size: 5.6rem;
    font-family: fantasy;
    font-weight: bolder;
    letter-spacing: 4px;
    word-spacing: 5px;
    text-shadow: 2px 1px #5C8374;
    text-align: center;
}

.welcome-box{
    height: 60%;
    width: 68%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: #092635;
    padding: 10px;
    border-radius: 4px;
    box-shadow: #eeedeb 0 0 10px 0;
}

.welcome-msg{
    color: #EEEDEB;
    font-family: cursive;
    letter-spacing: 5px;
    word-spacing: 5px;
    font-size: 2.3rem;
    font-weight: 900;
}

.visit-menu-btn{
    height: 60px;
    width: 290px;
    background-color: #5C8374;
    color: #EEEDEB;
    font-family: fantasy;
    font-size: 1.7rem;
    font-weight: 900;
    text-align: center;
    letter-spacing: 2px;
    word-spacing: 3px;
    padding: 5px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: #092635a4 0 0 6px 0;
    transition: all ease-in-out 0.5s;
}

.visit-menu-btn:hover {
    box-shadow: #eeedebe6 0 0 2px 0;
    background-color: #1B4242;
    transform: scale(1.05);
    font-weight: bolder;
    letter-spacing: 6px;
    word-spacing: 5px;
}

@media (max-width: 490px) {
    .welcome-box {
        height: 100%;
        width: 90%;
        padding: 10% 5%;
    }

    .visit-menu-btn {
        margin-top: 7%;
        height: 80px;
        width: 210px;
    }
}
